@import '../global.scss';

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
  background-color: $color-three;
}

.footer__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
}

.footer__item {
  padding: 7px 25px 5px 25px;
}

.footer__icon {
  font-size: 30px;
  color: darken($color-two, 25%);
  &:hover {
    transform: scale(1.1);
    transition: $transition;
  }
  &:active {
    color: $color-four;
  }
}
