@import '../global.scss';

.footer {
  position: fixed;
  //height: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: grey;
}

.footer__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
}

.footer__item {
  padding: 10px 25px;
}

.footer__icon {
  font-size: 30px;
  color: darken($color-two, 25%);
  &:hover {
    transform: scale(1.2);
    transition: all 0.5s;
  }
  &:active {
    color: red;
  }
}
