@import '../global.scss';

.header {
  display: flex;
  align-items: center;
  position: fixed;
  height: $header-height;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  color: $color-one;
  background-color: $color-two;
  box-shadow: $boxshadow-header;
}

/*Name*/
.header__name-div {
  @include desktop {
    padding-left: 150px;
  }
}

.header__name {
  text-align: center;
  margin: 0;
  font-size: 24px;
  font-weight: $font-bold;
  font-family: $font-one;
  color: $color-header-name;
  @include mobileportrait {
    color: blue; //test to remove
  }
  @include mobilelandscape {
    font-size: 28px;
    color: $color-four;  //test to remove
  }
  @include tabletportrait {
    font-size: 30px;
    color: green; //test to remove
  }
  @include tabletlandscape {
    color: orange; //test to remove
  }
  @include laptop {
    font-size: 32px;
  }
  @include desktop {
    font-size: 36px;
  }
}

/*Hamburger*/
.header__hamburger-col {
  position: relative;
}

.header__hamburger-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: $transform-postion-hamburger;
}

.header__hamburger {
  font-size: 35px;
  @include mobilelandscape {
    font-size: 45px;
  }
}

/*Links to pages*/
.header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 0;
  height: 100%;//
  width: 100%;
  z-index: 2;
  list-style-type: none;
  background-color: $color-header-list;
  @include tabletportrait {
    flex-direction: row;
  }
  @include laptop {
    background-color: transparent;

  }
  @include desktop {
    //padding: 20px 180px 20px 0;
  }
}

.header__item {
  padding: 10px;
  text-align: right;
  &:hover {
    transition: $transition;
    border-right: 4px solid $color-four;
    background-color: lighten($color-two, 25%);
  }
  @include tabletportrait {
    flex-grow: 1;
    text-align: center;
    padding: 15px 15px;
    &:hover {
      background-color: transparent;
      border: none;
      transition: none;
    }
  }
}

.header__link {
  @include link;
  padding-right: 20px;
  color: $color-one;
  &:hover {
    @include link-hover;
    box-shadow: $boxshadow-link-hover;
    background-color: lighten($color-two, 25%);
    background-color: transparent;
    box-shadow: none;
  }
  @include tabletportrait {
    padding: 10px 15px;
    &:hover {
      @include link-hover;
      box-shadow: $boxshadow-link-hover;
      background-color: lighten($color-two, 25%);
    }
  }
  @include laptop {
    font-size: 18px;
  }
  @include desktop {
    font-size: 20px;
  }
}
