@import '../global.scss';

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  color: $color-one;
  background-color: $color-two;
}

/*Name and title*/
.header__name-div {
  padding: 15px 10px;
  @include tabletportrait {
    padding: 15px 10px 15px 15px;
  }
  @include tabletlandscape {
    padding: 15px 15px 15px 25px;
  }
  @include desktop {
    padding-left: 150px;
  }
}

.header__name {
  margin: 0;
  text-align: center;
  font-weight: $font-bold;
  font-family: $font-one;
  @include mobileportrait {
    font-size: 22px;
    color: blue;
  }
  @include mobilelandscape {
    font-size: 26px;
    color: $color-four;
  }
  @include tabletlandscape {
    font-size: 30px;
    color: purple;
  }
  @include laptop {
    font-size: 32px;
  }
  @include desktop {
    font-size: 36px;
  }
}

.header__title {
  margin: 0;
  text-align: center;
  font-family: $font-one;
  @include mobileportrait {
    font-size: 15px;
    color: green;
  }
  @include mobilelandscape {
    font-size: 18px;
    color: yellow;
  }
  @include tabletlandscape {
    font-size: 20px;
    color: orange;
  }
  @include desktop {
    font-size: 22px;
  }
}

/*Hamburger*/
.header__hamburger-col {
  position: relative;
}

.header__hamburger-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: $transform-postion-hamburger;
}

.header__hamburger {
  font-size: 35px;
  @include mobilelandscape {
    font-size: 45px;
  }
}

/*Links to pages*/
.header__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0;
  width: 100%;
  z-index: 2;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.7);
  @include tabletportrait {
    flex-direction: row;
    padding: 18px;
  }
  @include laptop {
    background-color: transparent;
  }
  @include desktop {
    padding: 20px 180px 20px 0;
  }
}

.header__item {
  padding: 10px;
  text-align: right;
  &:hover {
    transition: $transition;
    border-right: 4px solid $color-four;
    background-color: lighten($color-two, 25%);
  }
  @include tabletportrait {
    flex-grow: 1;
    text-align: center;
    padding: 15px 15px;
    &:hover {
      background-color: transparent;
      border: none;
      transition: none;
    }
  }
}

.header__link {
  @include link;
  padding-right: 20px;
  color: $color-one;
  &:hover {
    @include link-hover;
    background-color: transparent;
    box-shadow: none;
  }
  @include tabletportrait {
    padding: 15px 15px;
    &:hover {
      @include link-hover;
    }
  }
  @include laptop {
    font-size: 18px;
  }
  @include desktop {
    font-size: 20px;
  }
}
