@import '../global.scss';

.about {
  z-index: 0;
  position: relative;
  text-align: center;
  font-family: $font-two;
  line-height: 1.7;
}

img {
  width: 75px;
  height: 75px;
}

.about__text-row {
  border-radius: $radius-small;
  padding: 0 20px;
  margin-bottom: 20px;
  box-shadow: $boxshadow-right;
  &:hover {
    transition: $transition;
    box-shadow: $boxshadow-right-hover;
  }
}

.about__text-span {
  font-weight: 700;
}

.about__text-skills {
  position: relative;
}

.about__text-skills-span {
  position: absolute;
  top: -12px;
  right: -4px;
  font-family: $font-one;
  font-size: 20px;
  font-weight: 700;
}

.about__skills {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  margin: 0;
  padding: 15px 5px;
}

.about__skills-row {
  border-radius: $radius-small;
  &:nth-child(odd) {
    box-shadow: $boxshadow-left;
    margin-bottom: 35px;
     &:hover {
    transition: $transition;
    box-shadow: $boxshadow-left-hover;
    }
  }
  &:nth-child(even) {
    box-shadow: $boxshadow-right;
    margin-bottom: 10px;
    &:hover {
      transition: $transition;
      box-shadow: $boxshadow-right-hover;
    }
  }
}

.about__skills-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__icon {
  font-size: 75px;
  margin-bottom: 10px;
}

.about__icon-span {
  padding: 0 20px;
  margin-top: 10px;
  border-radius: $radius-big;
  box-shadow: $boxshadow-icon;
}
