@import '../global.scss';

.about {
  position: relative;
  padding: 40px 0;
  text-align: center;
  z-index: 0;
  line-height: 1.7;
  font-family: $font-two;
}

/*Rows*/
.about__row {
  border-radius: $radius-small;
  background-color: $color-text-background;
  color: lighten($color-brown, 5%);
}

.about__row--text {
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: $boxshadow-right;
  &:hover {
    transition: $transition;
    box-shadow: $boxshadow-right-hover;
  }
}

.about__row--skills {
  padding: 0 0 15px 0;
  &:nth-child(even) {
    box-shadow: $boxshadow-right;
    &:hover {
      transition: $transition;
      box-shadow: $boxshadow-right-hover;
    }
  }
  &:nth-child(odd) {
    margin-bottom: 40px;
    box-shadow: $boxshadow-left;
    &:hover {
      transition: $transition;
      box-shadow: $boxshadow-left-hover;
    }
  }
}


/*Introduction section*/
.about__bold {
  font-weight: $font-bold;
  text-shadow: 1px 1px $color-yellow;
}

.about__text-col {
  padding: 20px;
}

/*Skills section*/
.about__title-col {
  position: relative;
}

.about__title {
  position: absolute;
  font-weight: 700;
  font-family: $font-one;
  color: $color-yellow;
  text-shadow: 2px 2px 2px $color-brown;
}

.about__title--welcome {
  top: -21px;
  left: -15px;
  font-size: 24px;
}

.about__title--skills{
  top: -23px;
  right: 6px;
  font-size: 24px;
}

.about__icon-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.about__icon {
  font-size: 75px;
  margin-bottom: 10px;
  color: lighten($color-brown, 15%);
}

.about__icon-name {
  padding: 0 20px;
  margin-top: 10px;
  border-radius: $radius-big;
  box-shadow: $boxshadow-icon;
}
