@import '../global.scss';

.contact {
  padding: 10px;
  @include desktop {
    padding: 50px;
  }
}

/*Columns*/
.contact__icon-col {
  padding: 25px;
  &:nth-child(even) {
    .contact__link {
      box-shadow: $boxshadow-right;
      &:hover {
        @include link-hover;
        box-shadow: $boxshadow-right-hover;
        transform: scale(1.1);
        transition: $transition;
      }
    }
  }
  &:nth-child(odd) {
    .contact__link {
      box-shadow: $boxshadow-left;
      &:hover {
        @include link-hover;
        box-shadow: $boxshadow-left-hover;
        transform: scale(1.1);
        transition: $transition;
      }
    }
  }
}

/*Links*/
.contact__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
  width: 100%;
  color: $color-three;
  @include mobilelandscape {
    padding: 60px;
  }
  @include tabletportrait {
    padding: 70px;
  }
  @include laptop {
    width: 80%;
  }
  @include desktop {
    padding: 80px;
  }
}

.contact__icon {
  font-size: 75px;
  margin-bottom: 15px;
}

.contact__icon-name {
  font-size: 16px;
  font-weight: $font-bold;
  @include mobilelandscape {
    font-size: 18px;
  }
  @include tabletportrait {
    font-size: 20px;
  }
  @include laptop {
    font-size: 22px;
  }
}
