@import '../global.scss';

/*Row & Columns*/
.portfolio__row {
  display: flex;
  @include tabletlandscape {
    padding: 10px;
  }
  @include laptop {
    padding: 25px 80px;
  }
  @include desktop {
    padding: 25px 0;
  }
}

.portfolio__col {
  margin-bottom: 35px;
  @include tabletlandscape {
    margin-bottom: 0;
  }
}

/*Portfolio sections*/
.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 90%;
  margin: 10px 15px;
  padding: 5px;
  box-shadow: $boxshadow-right;
  border-radius: $radius-small;
  background-color: lighten($color-three, 40%);
  &:hover {
    transform: $transform-scale;
    transition: $transition;
    box-shadow: $boxshadow-left-hover;
  }
  @include tabletlandscape {
    margin: 0px 15px;
    &:hover .portfolio__img-div {
      opacity: 0.5;
      filter: grayscale(0.8);
    }
    &:hover .portfolio__link-div {
      opacity: 1;
      top: 28%;
      left: 50%;
      transform: $transform-position;
      transition: $transition;
    }
    &:hover .portfolio__link {
      color: $color-one;
      background-color: lighten($color-two, 30%);
    }
    .portfolio__link:hover {
      @include link-hover;
    }
  }
  @include mobilelandscape {
    padding: 10px;
  }
    @include laptop {
    margin: 0 35px;
    padding: 15px;
  }
  @include desktop {
    margin: 0 20px;
  }
}

.portfolio__img-div {
  position: relative;
  margin-bottom: 25px;
  border: 4px solid $color-three;
}

.portfolio__img {
  width: 100%;
  height: 100%;
}

.portfolio__tech {
  margin-bottom: 10px;
  @include desktop {
    margin-bottom: 5px;
  }
}

.portfolio__bold {
  font-weight: $font-bold;
}

.portfolio__link-div {
  text-align: center;
  margin: 15px 0 0 0;
  opacity: 1;
  @include tabletlandscape {
    position: absolute;
    opacity: 0;
    margin: 0;
    top: 55%;
    left: 50%;
    transform: $transform-position;
  }
}

.portfolio__link {
  @include link;
  padding: 5px 15px;
  margin: 15px;
  color: $color-two;
  box-shadow: $boxshadow-link;
  &:hover {
    @include link-hover;
  }
}
