@import '../global.scss';

.portfolio {
  padding: 40px 0;
}

/*Row & Columns*/
.portfolio__row {
  display: flex;
}

.portfolio__col {
  margin-bottom: 45px;
}

/*Wrappers*/
.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 7px;
  border-radius: $radius-small;
  background-color: $color-text-background;
  @include tabletlandscape {
    width: 90%;
    &:hover .portfolio__img-div {
      opacity: 0.5;
      filter: grayscale(0.8);
    }
    &:hover .portfolio__link-div {
      opacity: 1;
      top: 30%;
      left: 50%;
      transform: $transform-position;
      transition: $transition;
    }
  }
  @include laptop {
    padding: 10px;
  }
}

.portfolio__wrapper--right {
  box-shadow: $boxshadow-right;
  &:hover {
    transform: $transform-scale;
    transition: $transition;
    box-shadow: $boxshadow-right-hover;
  }
}

.portfolio__wrapper--left {
  box-shadow: $boxshadow-left;
  &:hover {
    transform: $transform-scale;
    transition: $transition;
    box-shadow: $boxshadow-left-hover;
  }
}

.portfolio__wrapper--prepare {
  justify-content: center;
}
/*Images*/
.portfolio__img-div {
  position: relative;
  margin-bottom: 25px;
  box-shadow: $boxshadow-header;
}

.portfolio__img {
  width: 100%;
  height: 100%;
}

/*Descriptions*/
.portfolio__title {
  color: lighten($color-brown, 5%);
}

.portfolio__description {
  padding: 0  15px;
  text-align: justify;
  color: lighten($color-brown, 5%);
}

.portfolio__bold {
  font-weight: $font-bold;
}

/*Links*/
.portfolio__link-div {
  text-align: center;
  margin: 15px 0;
  opacity: 1;
  @include tabletlandscape {
    position: absolute;
    opacity: 0;
    margin: 0;
    top: 55%;
    left: 50%;
    transform: $transform-position;
  }
}

.portfolio__link {
  @include link;
  padding: 5px 15px;
  margin: 15px;
  box-shadow: $boxshadow-link;
  color: $color-text-background;
  background-color: lighten($color-brown, 15%);
  &:hover {
    @include link-hover;
    box-shadow: $boxshadow-link-hover;
  }
}
