/*Grid*/
@mixin mobileportrait {
  @media(max-width: 360px) {
    @content
  }
};

@mixin mobilelandscape {
  @media (min-width: 361px) {
    @content
  }
};

@mixin tabletportrait {
  @media(min-width: 600px) {
    @content
  }
};

@mixin tabletlandscape {
  @media (min-width: 768px) {
    @content
  }
};

@mixin laptop {
  @media (min-width: 992px) {
    @content
  }
};

@mixin desktop {
  @media (min-width: 1600px) {
    @content
  }
};

@mixin link {
  text-transform: uppercase;
  border-radius: 5px;
}

@mixin link-hover {
  text-decoration: none;
  color: red;
  box-shadow: $boxshadow-link-hover;
  background-color: lighten($color-two, 25%);
}
