@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans:wght@400;700&display=swap");

$font-one: 'Architects Daughter', cursive;
$font-two: 'Open Sans', sans-serif;

$font-bold: 700;

$color-text: black;
$color-text-background: white;
$color-grey: #a6a6a6;
$color-hover: #ff3f34;
$color-yellow: #ffa500;
$color-brown: #261B1C;

$transition: all 0.5s;
$transform-scale: scale(1.1);
$transform-position: translate(-50%);
$transform-postion-hamburger: translate(-50%, -50%);

$boxshadow-right: 8px -4px 7px 3px $color-grey;
$boxshadow-right-hover: -8px 4px 7px 3px $color-grey;
$boxshadow-left: -8px -4px 7px 3px $color-grey;
$boxshadow-left-hover: 8px 4px 7px 3px $color-grey;
$boxshadow-link: 3px 3px 2px $color-grey;
$boxshadow-link-hover: 3px 3px 2px $color-hover;
$boxshadow-icon: 5px 4px 7px 1px darken($color-hover, 40%);
$boxshadow-header: 0px 10px 28px 0px $color-brown;

$radius-big: 5%;
$radius-small: 1%;

$header-height: 70px;
$footer-height: 50px;
